html, body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

body{
	margin-top: 100px;	
}

#menu {
	overflow:hidden;
    margin: 0px 0px 0px 0px;
    width: 100%;
    heigth: auto;
    transition: all 1s;
    font-size: 22px;
    background-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
}

button.mainActionButton {
    text-transform: uppercase;
    width: 29%;
    max-width: 10000px;
    height: 180px;
    padding: 0px;
    margin: 0px 2%;
    margin-bottom: 10px;
    background-color: black;
    transition: max-width 1s, height 1s;
}

button.mainActionButton::-moz-focus-inner { 
  border: 0; 
}

button.mainActionButton.active {
    background-color: green;
}

#menu > button.mainActionButton{
    width: auto;
    max-width: 1000px;
    height: 60px;
    padding: 10px;
    margin: 0px;
    font-size: 24px;
    font-size: medium;
    display: inline;
}

.mainContainer{
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 10s, padding 1s, margin 1s, background-position 1s;
    background-color: navy;
    height: 0px;
    max-height: 0px;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
}

.mainContainer.open{
    padding: 40px 5%;
    opacity: 1;
    visibility: visible;
    background-color: white;
    height: auto;
    max-height: 10000px;
    overflow-x: auto;
    box-sizing: border-box;
}

button {
    height: 50px;
    padding:0 40px;
    color: white;
    background-color: gray;
    border: none;
    font-size: 19px;
}
button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
button:disabled{
    color : white;
    background-color: darkgray;
    border-color : darkgray;
    cursor: not-allowed;
}
button:active {
    color: black;
}
button:disabled{
    color : white;
    background-color: darkgray;
    border-color : darkgray;
}

.externalContainer{
	width: 100%;
	height:100%; 
	overflow:auto;
	border:5px ridge black
}

tbody{
	width: auto;
}

tr > td{
	padding: 5px;
	border: 1px solid black;
}

tr > th{
	padding: 5px;
	border: 1px solid black;
}

tr{
	background-color: #b1c1fa;
}

tr:hover{
	background-color: #f1f1f1;
}

tbody.centered{
	margin: auto;
	display: table;
}

h2.centered{
	text-align: center;
	margin-bottom: 50px;	
}
