html, body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#menu {
    margin: 20% auto 0 auto;
    width: 100%;
    transition: all 1s;
    font-size: 22px;
}

#menu.reduced {
    margin: 8px auto 10px auto;
    width: 100%;
}

button.mainActionButton {
    text-transform: uppercase;
    width: 29%;
    height: 180px;
    padding: 0;
    margin: 0 2%;
    margin-bottom: 10px;
    transition: all 1s;
}
.reduced > button.mainActionButton{
    width: 26%;
    height: 100px;
    padding: 0;
    margin: 5px;
    box-shadow: 0 0 6px -3px black;
}

.mainContainer{
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 1s;
    background-color: navy;
    height: 0;
    width: 80%;
    padding: 0;
    margin-top: 20px;
}

.mainContainer.open{
    padding: 40px 10%;
    opacity: 1;
    visibility: visible;
    background-color: white;
    height: auto;
    overflow-x: auto;
}

button {
    height: 50px;
    padding:0 40px;
    color: white;
    background-color: gray;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 19px;
    transition: all 1s;
    box-shadow: 0 0 20px -10px black;
}
button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
button:disabled{
    color : white;
    background-color: darkgray;
    border-color : darkgray;
    cursor: not-allowed;
}
button:active {
    color: black;
}
button:disabled{
    color : white;
    background-color: darkgray;
    border-color : darkgray;
}

.externalContainer{
	width: 100%;
	height:100%; 
	overflow:auto;
	border:5px ridge black
}

tbody{
	width: auto;
}

tr > td{
	padding: 5px;
	border: 1px solid black;
}

tr > th{
	padding: 5px;
	border: 1px solid black;
}

tr{
	background-color: #b1c1fa;
}

tr:hover{
	background-color: #f1f1f1;
}

