<!DOCTYPE html>
<html>
    <head>
	    {% load static %}
    	<script src="{% static "jquery-3.2.1.js" %}"></script>
    	<script src="{% static "validation_plugin/jquery.validate.min.js" %}"></script>
    	<style type="text/css">
			{% include "configure_plugins/main.css" %}
    	</style>
        <meta charset="utf-8">
        <title>S2E Web</title>        
    </head>
    <body id="body">
	 
	 {% csrf_token %}
	 
	 <form id="validation_form" action="">
	 
		 <div id="menu">
				<button type="button" class="mainActionButton topMenu" id="button_prev_result" onclick="see_last_result()">See Previous Results</button><!-- 
				--><label class="topMenu" id="topMenuTimeout">Timeout: <input class="topMenu" type="number" id="timeout_value" value="10"/></label><!-- 
				--><input id="id_binary_file" name="binary_file" type="file" required /><!--
				--><div id="spinner" class="loader"></div><!--
				--><button class="mainActionButton topMenu" form="validation_form" id="button_run">Run</button>
		 </div>
		 	
		 <div id="left_right_container">
			 <div id="left-menu-div">
			 	
			 	<!-- The menu on the left of the page, contains every plugins -->
			 	{% for plugin in plugins %}
			 		<!--<input type="hidden" id="checkbox_value_{{ plugin.name }}" name="{{ plugin.name }}" />
			 		<section>
			 			<div class="customCheckbox">
			 				<input type="button" id="checkbox_{{ plugin.name }}" onclick="checkboxClickHandler(this)" name="{{ plugin.name }}"/>
			 				<label for="checkbox_{{ plugin.name }}"></label>
			 			</div>
			 			<label class="centered normal">{{ plugin.name }}</label>
			 		</section>-->
			 		<button type="button" id="button_{{ plugin.name }}" name="{{ plugin.name }}" onclick="buttonClickHandler(this)" class="left_menu_button">{{ plugin.name }}</button><br>
			 	{% endfor %}
			 	
			 </div>
			 	 
			 <div id="right-menu-div">	
			
			 </div>
				 
		 </div>
	 
	 </form>
	 	
		<script type="text/javascript">
				//init the dependency map
				var pluginMap = new Map();
				var uniqueId = 0;
				
				var tmpCopyArray;
				{% for plugin in plugins %}
					tmpCopyArray = new Array();
					
					{% for dependency in plugin.dependencies %}
						tmpCopyArray.push("{{dependency}}");
					{% endfor %}
					
					pluginMap.set("{{plugin.name}}", {isChecked: false, depCount: 0, dependencies: tmpCopyArray});				
				
				{% endfor %}
				
				var plugins = {{ pluginsJson | safe }};
				
				for(var i = 0; i < plugins.length; ++i){
					generatePluginConfigOption(plugins[i]);
				}
				
				
				{% include "configure_plugins/main.js" %}
				{% include "configure_plugins/events.js" %}
				{% include "configure_plugins/buttonHandler.js" %}
				{% include "utils.js" %}
				
				
		
		</script> 
		
	</body>
	
	
</html> 
