html, body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

body{
	margin-top: 100px;	
}

input[type=checkbox] {
	visibility: hidden;
}

#menu {
	overflow:hidden;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    transition: all 1s;
    font-size: 22px;
    background-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
}

.topMenu{
	display: inline;
	font-size: medium;
}

button.mainActionButton {
    text-transform: uppercase;
    width: 29%;
    max-width: 10000px;
    height: 180px;
    padding: 0px;
    margin: 0px 2%;
    margin-bottom: 10px;
    background-color: black;
    transition: max-width 1s, height 1s;
}

button::-moz-focus-inner { 
  border: 0; 
}

button.mainActionButton.active {
    background-color: green;
}

#menu > button.mainActionButton{
    width: auto;
    max-width: 1000px;
    height: 60px;
    padding: 10px;
    margin: 0px;
    font-size: 24px;
    font-size: medium;
    display: inline;
}

input.normal{
	margin-left:15px;
	margin-top:10px;
}

button {
    height: 50px;
    padding:0 40px;
    color: white;
    background-color: gray;
    border: none;
    font-size: 19px;
}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

button:disabled{
    color : white;
    background-color: darkgray;
    border-color : darkgray;
    cursor: not-allowed;
}

button:active {
    color: black;
}

label.centered{
	text-align: center;
}

table{
	padding: 0px;
	display: table;
	margin: auto;
	text-align: center;
}

tbody{
	width: auto;
}

tr > td{
	padding: 5px;
	border: 1px solid black;
	cursor: pointer;
}

tr > th{
	padding: 5px;
	border: 1px solid black;
}

tr{
	background-color: #b1c1ea;
}

tr:hover{
	background-color: #f1f1f1;
}