html, body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

body{
	margin-top: 100px;
}

html.warning{
	background-color: red;
}

html.info{
	background-color: lime;
}

html.debug{
	background-color: cyan;
}

#menu {
	overflow:hidden;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    transition: all 1s;
    font-size: 22px;
    background-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
}

button.mainActionButton, #backButton{
    text-transform: uppercase;
    width: 29%;
    max-width: 10000px;
    height: 180px;
    padding: 0px;
    margin: 0px 2%;
    margin-bottom: 10px;
    background-color: black;
    transition: max-width 1s, height 1s;
}

button.mainActionButton::-moz-focus-inner, #backButton::-moz-focus-inner{
  border: 0;
}

button.mainActionButton.active{
    background-color: green;
}

#menu > button.mainActionButton, #backButton{
    width: auto;
    max-width: 1000px;
    height: 60px;
    padding: 10px;
    margin: 0px;
    font-size: 24px;
    font-size: medium;
    display: inline;
}

.mainContainer{
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 10s, padding 1s, margin 1s, background-position 1s;
    background-color: navy;
    height: 0px;
    max-height: 0px;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
}

.mainContainer.open{
    padding: 40px 5%;
    opacity: 1;
    visibility: visible;
    background-color: white;
    height: auto;
    max-height: 10000px;
    overflow-x: auto;
    box-sizing: border-box;
}

#backButton{
	float: right;
}

button {
    height: 50px;
    padding:0 40px;
    color: white;
    background-color: gray;
    border: none;
    font-size: 19px;
}
button:hover, #backButton:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
button:disabled{
    color : white;
    background-color: darkgray;
    border-color : darkgray;
    cursor: not-allowed;
}
button:active {
    color: black;
}

.externalContainer{
	width: 100%;
	height:100%;
	overflow:auto;
	border:5px ridge black
}

tbody{
	width: auto;
}

tr > td{
	padding: 5px;
	border: 1px solid black;
}

tr > th{
	padding: 5px;
	border: 1px solid black;
}

tr{
	background-color: #b1c1ea;
}

tr:hover{
	background-color: #f1f1f1;
}

tbody.centered{
	margin: auto;
	display: table;
}

h2.centered{
	text-align: center;
	margin-bottom: 50px;
}

tr.error{
	background-color: #c12020;
}

tr.error:hover{
	background-color: #e14040;
}

#statistics_table{
	display: inline-table;
	margin-right: 100px;
}

#image_display{
    width: auto;
    height: auto;
    opacity: 1;
}

#graph_image_container {
	width: 100%;
	height: auto;
	text-align: center;
}

div#div_legend_parent{
	border: 2px solid darkslategray;
	text-align: center;
}

div.div_legend{
	text-align: center;
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}

div#arrow_legend_green{
	font-size: 60px;
	color: green;
}

div#arrow_legend_red{
	font-size: 60px;
	color: red;
}

div#arrow_legend_blue{
	color: blue;
	font-size: 60px;
}

div#block_legend_green{
	width: 60px;
	height: 40px;
	background-color: #50d131;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

div#block_legend_gray{
	width: 60px;
	height: 40px;
	background-color: gray;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

span.highlight{
	background-color: yellow;
}
